/*ViiV POC stylesheet*/
body {
	background-color: white;
color: #000;
font-family: arial,sans-serif;
font-size: 80%;
margin: 0;
padding: 0;
text-rendering: optimizeLegibility;
}
.page-width {
width: 940px;
overflow: hidden;
margin: 0 auto;
padding: 0 10px;
}
#logo {
float: left;
margin: 20px 51px 20px 0;
}
#header {
font-size: 1.3em;
background-color: rgba(255,255,255,0.3);
}
#globalNav {
background: #fff url(/dist/img/background-tile.jpg) top center repeat-y;
margin: 0;
min-height: 31px;
overflow: hidden;
text-align: right;
font-family: 'Century Gothic W01 Bold',arial,sans-serif;
}
#primaryNav{
	background-color: #E31C39;
	display: block;
}
#primaryNav .navigation{
    background: #e31c39;
    font-size: 1.1em;
    border-left: 1px solid #ca0a26;
    border-right: 1px solid #eb6175;
    width: 940px;
    margin: 0 auto;
    padding: 0;
}
.navigation li {
    float: left;
    text-align: center;
    width: 200px;
}
.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#primaryNav .navigation li a {
	display: block;
	color: #fff;
	padding: 11px 0 10px 0;
	text-align: center;
	border-left: 1px solid #eb6175;
}
#main {
	background-color: white;
}
h3.section-title {
    font-family: 'Century Gothic W01',arial,sans-serif;
    text-align: left;
    color: #e31c39;
    font-size: 1.2rem;
    font-weight: normal;
    margin: 1.2em 0 0;
    line-height: 1;
}
.template .description {
	text-transform: capitalize;
	background-color: #16a0ae;
	outline: 2px solid #16a0ae;
	background-color: rgba(17,128,139,0.75);
	text-align: left;
    padding: 12px;
    font-size: 1rem;
    margin: 1em 0 0.5em;
    font-weight: normal;
    color: #fff;
}
.template a {
	outline: 2px solid #757678;
}
.template a:hover {
	outline: 2px solid #eb6175;
}
#footer {
	background-color: #eaedf0;
	overflow: hidden;
	font-size: 1.3em;
	padding: 37px 0;
	width: 100%;
	color: #757678;
}
